
.vs/Proyecto_Pagos_Eventos/v15/Server/sqlite3/db.lock
.vs/Proyecto_Pagos_Eventos/v15/.suo
.vs/Proyecto_Pagos_Eventos/v15/Server/sqlite3/storage.ide
.vs/Proyecto_Pagos_Eventos/v15/Server/sqlite3/storage.ide-shm
.vs/Proyecto_Pagos_Eventos/v15/Server/sqlite3/storage.ide-wal
.vs/Proyecto_Pagos_Eventos/v16/Server/sqlite3/db.lock
.vs/Proyecto_Pagos_Eventos/v16/.suo
.vs/Proyecto_Pagos_Eventos/v16/Server/sqlite3/storage.ide
